 * {
     margin: 0;
     padding: 0;
 }

 body {
     box-sizing: content-box;
     font-family: "Source Sans 3";
 }

 .container {
     background-image: url(pic/background.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 800px;
     max-width: 1000px;
     display: block;
     margin: 0 auto;
     padding: 5px 20px;
 }

 .header {
     display: flex;
     justify-content: space-between;
 }

 li {
     list-style: none;
     margin: 0px 30px 0px 0px;
     font-size: smaller;
     font-weight: bold;
 }

 li a:hover {
     color: #ff6565;
     transition: ease-in-out;
 }

 ul li a {
     text-decoration: none;
     color: white;
 }

 .main {
     text-align: center;
     margin-top: 22rem;
     color: white;
     font-weight: bolder;
     padding: 0px 10px;
 }

 .main .para {
     margin-top: -30px;
 }

 .main p {
     font-size: small;
     color: white;
     line-height: 20px;
     width: 507px;
     display: block;
     margin: 0 auto;
     font-weight: lighter;
     padding: 5px 50px;
     word-spacing: 2px;
     margin-bottom: 20px;
     text-align: center;
 }

 .main h2 {
     font-size: 32px;
     margin-bottom: 1rem;
 }

 .main button,
 .contain button {
     background-color: #ff6565;
     border-radius: 25px;
     padding: 10px 15px;
     color: white;
     font-weight: bold;
     font-size: x-small;
     border: none;
     margin: 1rem 0rem 3rem 0px;
 }

 .main button:hover {
     opacity: 0.9;
 }

 .nav-bar {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     list-style: none;
     position: relative;
     padding: 5px 10px;
 }

 .menu {
     display: flex;
 }

 .menu li {
     padding-left: 10px;
 }

 .main li a {
     display: inline-block;
     text-decoration: none;
     text-align: center;
     transition: 0.15s ease-in-out;
     position: relative;
 }

 .menu li a::after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 1px;
     transition: 0.15s ease-in-out;
 }

 .menu li a:hover:after {
     width: 100%;
 }

 .open-menu,
 .close-menu {
     position: absolute;
     color: white;
     display: none;
 }

 .open-menu {
     top: 50%;
     right: 20px;
     transform: translateY(-50%);
 }

 .close-menu {
     top: 20px;
     right: 20px;
 }

 #check {
     display: none;
 }

 .para2 {
     margin: 15rem 0rem;
     text-align: center;
     padding: 0rem 11rem;
 }

 .icon {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .icons {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     text-align: center;
     margin-bottom: 5rem;
     /* padding: 0rem 10rem; */
 }

 .icons div {
     margin: 0px 20px;
     align-items: center;
     text-align: center;
 }

 .icons p {
     margin-top: 3rem;
 }

 .background2 {
     background-image: url(pic/background2.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 300px;
     max-width: 100%;
     display: block;
     margin: 0 auto;
     padding: 12rem 8rem;
     color: white;
     text-align: center;
 }

 .image {
     display: flex;
     align-items: center;
 }

 .img {
     margin-right: 5px;
 }

 .background2 p {
     margin-bottom: 5rem;
 }

 .shape {
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: center;
     padding: 0rem;
 }

 .shapes {
     background-image: url(pic/Polygon\ Copy.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     display: block;
     margin: 0 auto;
     margin: 2rem 1rem;
     width: 150px;
 }

 .shapes h2 {
     font-size: xx-large;
     margin-top: 5rem;
 }

 .shapes p {
     font-size: x-small;
 }

 .contain {
     display: block;
     margin: 0 auto;
     width: 335px;
     margin-bottom: 5rem;
 }

 .contain div {
     border-bottom-style: solid;
     opacity: 0.8;
     padding: 1rem 1rem;
     margin: 3rem 0rem;
     width: 335px;
 }

 .contain div:last-child {
     margin-bottom: 3rem;
 }

 .contain button {
     margin-top: 5rem;
     display: block;
     margin: 0 auto;
 }

 footer {
     background-image: url(pic/footer_background.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     align-items: center;
     text-align: center;
     height: 200px;
     justify-content: space-between;
     color: white;
     padding: 0rem 5rem;
 }

 footer div:last-child {
     margin-bottom: 5rem;
 }

 svg {
     margin: 10px;
 }

 footer img {
     margin-left: 5px;
 }

 footer p {
     color: white;
     opacity: 0.3;
     font-size: smaller;
     margin-top: 8rem;
 }
svg{
    color: white;
}
 .mobile {
     display: none;
 }

 @media screen and (max-width: 768px) {
     body {
         width: 100%;
         height: 50rem;
     }

     .icon {
         display: grid;
     }
     .background2{
        height: 700px;
     }

     header {
         width: 100%;
         padding: 0 5%;
     }
         .shape {
             margin-top: 1rem;
         }
    
         .shapes {
             background-image: url(pic/Polygon\ Copy.png);
             background-position: center;
             background-repeat: no-repeat;
             background-size: contain;
             display: block;
             margin: 0 auto;
             margin: 0rem 1rem;
             width: 150px;
         }

 }


 @media (max-width:480px) {
     body {
         box-sizing: content-box;
     }

     .container {
         background-image: url(pic/background.png);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         display: block;
         margin: 0 auto;
         padding: 5px 15px;

     }

     .menu {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: 50vh;
         position: fixed;
         top: 0;
         right: -100%;
         z-index: 100;
         transition: all 0.2s ease-in-out;
         background-color: rgb(54, 54, 54, 0.9);
         font-size: x-large;
         line-height: 50px;
     }

     .menu li {
         margin-top: 10px;
     }

     .menu li a {
         padding: 10px;
     }

     .open-menu,
     .close-menu {
         display: block;
     }

     #check:checked~.menu {
         right: 0;
     }

     .main {
         margin-top: 16rem;
     }

     .main p {
         font-size: medium;
         color: white;
         line-height: 20px;
         display: block;
         margin: 0 auto;
         width: 337px;
     }

     .para2 {
         margin: 10rem 0rem;
         text-align: center;
         font-size: large;
         padding: 0px 20px;
     }

     .icon {
         display: flex;
         flex-direction: column;
     }

     .icons {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         padding: 0rem 5rem;
         margin-bottom: 0rem;
     }

     .icons div {
         margin-bottom: 3rem;
     }

     .background2 {
         background-image: url(pic/background2.png);
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         height: 1400px;
         max-width: 100%;
         display: block;
         margin: 0 auto;
         padding: 12rem 2rem 0rem 2rem;
     }

     .shape {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;
         text-align: center;
         padding: 0rem 5rem;
     }

     .contain {
         display: block;
         margin: 0 auto;
         width: 100%;
         padding: 3rem 0rem;
         margin-top: 3rem;
     }

     .contain div {
         display: block;
         margin: 0 auto;
         border-bottom-style: solid;
         opacity: 0.8;
         margin: 3rem 0rem;
         width: 100%;
     }

     .contain div:last-child {
         margin-bottom: 3rem;
     }

     .contain button {
         margin-top: 5rem;
         padding: 1rem 2rem;
         font-weight: bold;
         display: block;
         margin: 0 auto;
     }

     footer {
         background-image: url(pic/footer_background.png);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         height: 240px;
         display: flex;
         text-align: center;
         align-items: center;
         padding-top: 5rem;
         flex-direction: column;
         color: white;
     }

     footer div:first-child {
         display: grid;
         align-items: start;
         text-align: left;
     }

     footer div {
         margin-bottom: 2rem;
     }

     .desktop1,
     .desktop {
         display: none;
     }

     .mobile {
         display: grid;
         margin-top: auto;
         padding-bottom: 25rem;
     }
 }