body{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-image: url(pic/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:3rem 5rem ;
    color: white;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 2rem;
}
.pentagon{
    position: relative;
    text-align: center;
    align-items: center;
    width: 162px;
    /* height: 190px; */
    box-sizing: content-box;
    /* border-width: 50px 18px 0; */
    border-width: 150px 54px 0;
    border-style: solid;
    border-color: #FF6668 transparent;
}
.pentagon:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -252px;
    /* top: -85px; */
    /* left: -18px; */
    left: -54px;
    /* border-width: 0 45px 35px; */
    border-width: 0 135px 105px;
    border-style: solid;
    border-color: transparent transparent #FF6668;
}
@media screen and (max-width: 768px) {
    body {
        width: 100%;
        height: 50rem;
    }

    .icon {
        display: grid;
    }

    header {
        width: 100%;
        padding: 0 5%;
    }

}

@media (max-width:480px){
    body {
            display: block;
            margin: 0 auto;
            text-align: center;
            background-image: url(pic/background2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 2rem 4rem;
            color: white;
            height: 1500px;
        }
    
        .container {
            display: block;
            margin: 0 auto;
            height: 1400px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: last baseline;
            position: absolute;
            left: 0;
            top: 18rem;
            right: 3.5rem;
            bottom: 0;
            padding-bottom: 2rem;
        }
    
        .pentagon {
            position: relative;
            text-align: center;
            align-items: center;
            width: 162px;
            /* height: 190px; */
            box-sizing: content-box;
            /* border-width: 50px 18px 0; */
            border-width: 150px 54px 0;
            border-style: solid;
            border-color: #FF6668 transparent;
        }
    
        .pentagon:before {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: -252px;
            /* top: -85px; */
            /* left: -18px; */
            left: -54px;
            /* border-width: 0 45px 35px; */
            border-width: 0 135px 105px;
            border-style: solid;
            border-color: transparent transparent #FF6668;
        }
}