@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


body{
    background-image:url(images/main.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    justify-content: center;
    text-align: center;
    font-family: "Source Sans 3", serif;
    flex-wrap: wrap;
    margin: auto;
}

header, .section1{
    color: white;
    padding: 0px 80px;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size:small;
    margin-bottom: 120px;
    text-align: center;
    margin-top: 15px;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    margin: 0px 10px;
    list-style: none;
    font-weight: bold;
}
ul li a{
    color: white;
    text-decoration: none;
}

main .getschooled h1{
    font-size: 120px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
main span{
    font-size: 16px; ;
    font-weight:bolder;
    margin: 10px 10px; 
} 
main button{
    width: 162px;
    height: 44px;
    margin-top: 15px;
    background-color: #C373FF;
    border: none;
    color: white;
    border-radius: 30px;
    padding: 10px 10px;
    font-size: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(61, 58, 58);
}
main h2{
    padding-top:80px;
    padding-bottom: 50px;
    font-weight: lighter;
}
main strong{
    color: #C373FF;
    font-weight: bold;
}
main .images{
    width: 1009px;
    height: 237px;
    display: flex;
    justify-content: space-evenly;
    line-height: 2px;
    padding-bottom:30px ;
}
main .images div{
    width: 150px;
    height: 237px;
}
main .images img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.qoutes{
    background-color: #C373FF;
    display: flex;
    justify-content: space-around;
    text-align:left;
    width:1265px;
    margin-top: -30px;
    flex-wrap: wrap;
    /* margin: auto; */
    height: 392px;
    align-items: center;
    color: white;
}
.qoutes img{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin-left: 300px;
}
.qoutes blockquote{
    margin-left: -2px;
    margin-right: 300px;
}

.popular{
    display: flex;
    justify-content: space-around;
    padding: 0px 80px;
    font-size: 10px;
    text-align: left;
    align-items: center;
}
.popular .h2{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin: 0px;
}
.popular .div{
    margin: 0px 10px;
    width: 255px;
    height: 335px;
    line-height: 1.2;
}

.popular .philip{
    border-radius: 100%;
}
.rating{
    color: #C373FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating i{
    padding: 0px 2px;
}
.S{
    color: gainsboro;
}
.membership{
    background-color:#071629;
    color: white;
    width: 100%;
    height: 502px;
    text-align: center;
    font-size: 14px;
}
.membership .smile{
    display: flex;
    justify-content:space-evenly ;
    padding: 50px 100px;
}
.smile div{
    width: 257px;
    height: 153px;
    padding: 0px 50px;
}

.Faq {
    width: 920px;
    height: 707px;
    text-align: center;
    padding: 0px 150px;
    padding-bottom:200px ;
}
.Faq h2{
    font-size: 60px;
}

.FAQ{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}
.faq{
    padding: 0px 50px;
    line-height: 1.5;
    font-size: 14px;
}
.faq div{
    padding: 10px 20px;
} 

footer{
    background-color: #071629;
    color: white;
    width: 100%;
    height: 249px;
    text-align: center;
    font-size: 14px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding:100px 150px 50px 150px;
}
footer p{
    color:rgb(171, 170, 170);
}
footer img{
    margin: 8px;
} 