body{
    background-image:url(pic/main.jpg),url(pic/blackbg.jpg);
    background-size:contain,contain;
    background-repeat: no-repeat,no-repeat;
    background-blend-mode: screen, darken;
    text-align: center;
    padding: 10px 80px;
}

header, .section1{
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size:small;
    margin-bottom: 140px;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    margin: 0px 10px;
    list-style: none;
    font-weight: bold;
}
ul li a{
    color: white;
    text-decoration: none;
}

/* main .getschooled{
    display: flex;
    flex-direction: column;
} */
main .getschooled h1{
    font-size: 120px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
main span{
    font-size: 16px; ;
    font-weight:bolder;
    margin: 10px 10px; 
} 
main .getschooled button{
    width: 162px;
    height: 44px;
    margin-top: 20px;
    background-color: #C373FF;
    border: none;
    color: white;
    border-radius: 30px;
    padding: 10px 10px;
    font-size: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(61, 58, 58);
}
main h2{
    padding-top:100px;
    padding-bottom: 80px;
    font-weight: lighter;
}
main strong{
    color: #C373FF;
    font-weight: bold;
}
main .images{
    width: 1009px;
    height: 237px;
    display: flex;
    justify-content: space-evenly;
    line-height: 2px;
    padding-bottom:100px ;
}
main .images div{
    width: 150px;
    height: 237px;
}
main .images img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}